@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .txt-balanced {
    text-wrap: balance;
  }
  .txt-pretty {
    text-wrap: pretty;
  }
  .txt-nowrap {
    text-wrap: nowrap;
  }
  .txt-stable {
    text-wrap: stable;
  }
  .txt-wrap {
    text-wrap: wrap;
  }
  .txt-unset {
    text-wrap: unset;
  }
}

h1,
h2,
h3,
h4,
p {
  text-wrap: balance;
}
header > div,
header img {
  transition: 150ms;
}

.header-small > div {
  padding: 20px;
}

.header-small img {
  width: 100px;
}

.fade-in {
  animation: fade-in 500ms forwards ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.start {
  translate: -10%;
  opacity: 0;
}

.end {
  translate: 0 0;
  opacity: 1;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
